CLIENT_ID=yours
CLIENT_SECRET=yours
CLIENT_STATE_SECRET=yours
EXPOSED_URL=https://<id>.ngrok-free.dev
TENANT_ID=your-tenant-id
MAILBOX_ID=your-mailbox-id
USER_GUID=your-user-guid
MAILBOX_ADDRESS=your-mailbox-address
